.credit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 16px;
    gap: 16px;
}

.credit__role {
    margin: 0;
    text-align: right;
    font-weight: 500;
    color: rgba(255, 255, 255, .5);
}

.credit__name {
    margin: 0;
    color: white;
}

a.credit__name {
    &:hover {
        opacity: .5;
    }
}