.feed-page {
    height: 100dvh;
    width: 100dvw;
    background-color: #2F2A60;
}

.select {
    cursor: pointer;
    position: fixed;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 48px;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 8px;
    backdrop-filter: blur(3px) saturate(2);
}